@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using WebApplication5.Data.Identity;
@inject SignInManager<ApplicationIdentityUser> SignInManager
<div class="text-center">
    <h1 class="display-4">Welcome To I'm a .NET Dev </h1>
</div>
@if (SignInManager.IsSignedIn(User))
{
       <h1>Logged In</h1>
}
else{

}