@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            <h1>I (@Model.Email) have become a real .NET Dev</h1>


</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

